body{
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper{	
	padding: 0;
	margin: 0;
}

.header{
	background-color: white;
	height: 72px;
}

.header__logo__a{
	text-decoration: none;
}

.header__logo__font{
	padding-left: 157px;
	font-size: 70pt;
	color: black;
}

.header__logo{
	font-weight: bold;
	margin-top: -3px;
}

.header__logo--green-font{
	color: #1abc9c;
	font-size: 70pt;
	margin-left: -10pt;
}

.header__navigation{
	margin-top: -104px;
	font-size: 18pt;
}

.header__a{
	text-decoration: none;
	color: black;
	float: right;
	margin-top: 39px;	
}

.header__a--pos1{
	margin-right: 158px;
}

.header__a--pos2{
	margin-right: 86px;
}

.header__a--pos3{
	margin-right: 97px;
}

.content{	
	background-color: #1abc9c;
	height: 815px;
	clear: both;
	margin: 0px -4px;
}

.content__image{
	padding-top: 75px;
	padding-left: 82px;
	float: left;
}

.content__text{
	color: white;
	padding-left: 963px;
}

.content__text__header{
	padding-top: 185px;
	font-size: 35pt;
	font-weight: bold;
}

.content__text__article{
	padding-top: 26px;
	line-height: 1.3;
	font-size: 20pt;
	margin-right: 124px;
}

.content__text__btn{
	padding-top: 42px;
}

.content__text__buy-btn{
	width: 208px;
	border: 2px solid white;
	color: white;
	background-color: #1abc9c;
	height: 75px;
	border-radius: 5px;
	font-size: 26pt;
	cursor: pointer;
}

.content__articles{
	margin-top: 89px;
	height: 498px;
}

.content__article1{
	float: left;
	width: 544px;
	margin-left: 152px;
}

.content__article1__ico{
	background-color: #1abc9c;
	height: 125px;
	width: 125px;
	border-radius: 50%;
	margin-left: 209px;
	color: white;
	font-size: 50pt;
}

.content__article1__ico__font{
	padding-top: 26px;
	padding-left: 14px;
}

.content__article1__header{
	text-align: center;
	font-weight: bold;
	margin-top: 27px;
	font-size: 21pt;
}

.content__article1__text{
	text-align: center;
	margin-top: 26px;
	font-size: 17.5pt;
	line-height: 1.54;
}

.content__article2{
	float: left;
	width: 544px;
	margin-left: -10px;
}

.content__article2__ico{
	background-color: #1abc9c;
	height: 125px;
	width: 125px;
	border-radius: 50%;
	margin-left: 209px;
	color: white;	
	font-size: 4em;
}

.ico{
	padding-top: 28px;
	padding-left: 22px;
}

.content__article2__header{
	text-align: center;
	font-weight: bold;
	margin-top: 27px;
	font-size: 21pt;	
}

.content__article2__text{
	text-align: center;
	margin-top: 26px;
	font-size: 17.5pt;
	line-height: 1.54;
}

.content__article3{
	float: left;
	width: 544px;
	margin-left: -10px;
}

.content__article3__ico{
	background-color: #1abc9c;
	height: 125px;
	width: 125px;
	border-radius: 50%;
	margin-left: 210px;
	color: white;	
	font-size: 4em;
}

.content__article3__header{
	text-align: center;
	font-weight: bold;
	margin-top: 27px;
	font-size: 21pt;
}

.content__article3__text{
	text-align: center;
	margin-top: 26px;
	line-height: 1.54;
	font-size: 17.5pt;
}

.footer{
	background-color: #16a085;
	clear: both;
}

.footer__header{
	color: white;
	font-weight: bold;
	padding-top: 90px;
	padding-left: 44%;
	font-size: 35pt;
}

.footer__form{
	margin-top: 73px;
	margin-left: 27.4%;
}

.footer__form__input-name{
	font-size: 21.3pt;
	padding-left: 14px;
	width: 866px;
	height: 43px;
}

.footer__form__input-email{
	font-size: 21.3pt;
	padding-left: 14px;
	width: 866px;
	height: 43px;
	margin-top: 13px;
}

.footer__form__input-phone{
	font-size: 21.3pt;
	padding-left: 14px;
	width: 866px;
	height: 43px;
	margin-top: 13px;
}

.footer__form__input-textarea{
    margin-top: 13px;
    width: 864px;
    font-size: 21.3pt;
    padding-left: 16px;
    height: 168px;
    padding-top: 4px;
}

.footer__form__input-pas{
	font-size: 21.3pt;
	padding-left: 14px;
	width: 866px;
	height: 43px;
	margin-top: 13px;
}

.footer__form__input-page{
	font-size: 21.3pt;
	padding-left: 14px;
	width: 866px;
	height: 43px;
	margin-top: 13px;
}

.footer__form__input-search{
	font-size: 21.3pt;
	padding-left: 14px;
	width: 884px;
	height: 52px;
	margin-top: 13px;
}

.footer__form__text-questions__wrapper{
	margin-top: 13px;
}

.footer__form__text-questions{
	color: white;
	font-size: 21.3pt;
	padding-left: 14px;
	height: 43px;
}

.footer__form__input-range{
	width: 728px;
}

.footer__form__text-bdaytime__wrapper{
	margin-top: 13px;
}

.footer__form__text-bdaytime{
	color: white;
	font-size: 21.3pt;
	padding-left: 14px;
}

.footer__form__input-bdaytime{
	width: 464px;
	text-align: right;
	height: 43px;
	font-size: 21.3pt;
}

.footer__form__text-quality__wrapper{
	margin-top: 13px;
}

.footer__form__text-quality{
	color: white;
	font-size: 21.3pt;
	padding-left: 14px;
	height: 43px;
}

.footer__form__input-quality{
	width: 768px;
	text-align: right;
	height: 43px;
	font-size: 21.3pt;
}

.footer__form__text-week__wrapper{
	margin-top: 13px;
}

.footer__form__text-week{
	color: white;
	font-size: 21.3pt;
	padding-left: 14px;
	height: 43px;
}

.footer__form__input-week{
	width: 679px;
	text-align: right;
	height: 43px;
	font-size: 21.3pt;
}

.footer__form__text-time__wrapper{
	margin-top: 13px;
}

.footer__form__text-time{
	color: white;
	font-size: 21.3pt;
	padding-left: 14px;
	height: 343px;
}

.footer__form__input-time{
	width: 693px;
	text-align: right;
	height: 43px;
	font-size: 21.3pt;
}

.footer__form__text-quantity__wrapper{
	margin-top: 13px;
}

.footer__form__text-quantity{
	color: white;
	font-size: 21.3pt;
	padding-left: 14px;
	height: 43px;
}

.footer__form__input-quantity{
	width: 513px;
	text-align: right;
	height: 43px;
	font-size: 21.3pt;
}

.footer__form__input-checkbox{
	margin-top: 13px;
}

.footer__form__input-checkbox__text{
	color: white;
	font-size: 21.3pt;
	padding-left: 14px;
	height: 43px;
}

.footer__form__input-checkbox_radio{
	margin-top: 13px;
}

.footer__form__input-radio1{
	margin-top: 13px;
}

.footer__form__input-radio1__text{
	color: white;
	font-size: 21.3pt;
	padding-left: 14px;
	height: 43px;
}

.footer__form__input-radio2{
	margin-top: 13px; 
}

.footer__form__input-radio2__text{
	color: white;
	font-size: 21.3pt;
	padding-left: 14px;
	height: 43px;
}

.footer__form__input-reset{
	margin-top: 88px;
	background-color: #16a085;
	width: 365px;
	border: 3px solid white;
	color: white;
	height: 76px;
	border-radius: 7px;
	font-size: 27pt;
	cursor: pointer;
}

.footer__form__input-submit{
	margin-top: 88px;
	background-color: #16a085;
	width: 365px;
	border: 3px solid white;
	color: white;
	height: 76px;
	border-radius: 7px;
	font-size: 27pt;
	cursor: pointer;
	margin-left: 155px;
	margin-bottom: 88px; 
}