body{
	font-family:  Arial, Helvetica, sans-serif;
}
.div-wrapper{
	width: 1280px;
	position: relative;
    margin-left: auto;
    margin-right: auto;
}
.div-wrapper__header{
	background-color: white;
	margin-top: -9.3px;

}
.div-wrapper__header__div-logo__font{	
	padding-left: 104px;
	font-size: 49pt;
}

.div-wrapper__header__div-logo{
	font-weight:bold; 

}
.div-wrapper__header__div-logo--green-font{
	color: #1abc9c;
	font-size: 48pt;
	margin-left: -8pt;
}
.div-wrapper__header__a{
	text-decoration: none;
	color: black;
	float: right;
	margin-top: 39px;
}
a:hover{
	text-decoration: none;
}
.div-wrapper__header__a--pos1{
	margin-right: 106px;
}
.div-wrapper__header__a--pos2{
	margin-right: 61.5px;
	
}
.div-wrapper__header__a--pos3{
	margin-right: 67px;
	
}
.div-wrapper__div-content{
	margin-top: -5px;
	background-color: #1abc9c;
	height: 555px;	
	clear: both;
}
.div-wrapper__div-content__image{
	padding-top: 55px;
    padding-left: 60px;
	float: left;
}
.div-wrapper__div-content__text{
	color: white;
	padding-left: 651px;
}
.div-wrapper__div-content__text__header{	
    padding-top: 121px;
    font-size: 24pt;
    font-weight: bold;
}
.div-wrapper__div-content__text__header__article{
	padding-top: 29px;
    line-height: 1.4;
    padding-right: 85px;
}
.div-wrapper__div-content__text__header__btn{
	padding-top: 35px;
}
.div-wrapper__div-content__text__header__buy-btn{
	width: 141px;
    border: 2.4px solid white;
    color: white;
    background-color: #1abc9c;
    height: 50px;
    border-radius: 5px;
    font-size: 18pt;    
}
.div-wrapper__div-content__articles{
	margin-top: 60px;
	height: 341px;
}
.div-wrapper__div-content__article1{
	float: left;
	width: 365px;
	margin-left: 104px;
}
.div-wrapper__div-content__article1__ico{
	background-color: #1abc9c;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    margin-left: 141px;
	color: white;
    font-size: 29pt;
    padding-top: 15px;
    padding-left: 14px;
}
.div-wrapper__div-content__article1__header{
	text-align: center;
	font-weight: bold;
	margin-top: 17px;    
    font-size: 14pt;
}
.div-wrapper__div-content__article1__text{
	text-align: center;
	margin-top: 15px;
}
.div-wrapper__div-content__article2{
	float: left;
	width: 365px;
}
.div-wrapper__div-content__article2__ico{
	background-color: #1abc9c;   
    height: 85px;
    width: 85px;
    border-radius: 50%;
    color: white;
    padding-top: 12px;
    padding-left: 15px;
    margin-left: 138px;
    font-size:2.6em;
}
.div-wrapper__div-content__article2__header{
	text-align: center;
	font-weight: bold;
	margin-top: 17px;    
    font-size: 14pt;
}
.div-wrapper__div-content__article2__text{
	text-align: center;
	margin-top: 15px;
}
.div-wrapper__div-content__article3{
	float: left;
	width: 365px;
}
.div-wrapper__div-content__article3__ico{
	background-color: #1abc9c;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    color: white;
    padding-top: 12px;
    padding-left: 16px;
    margin-left: 138px;
    font-size:2.6em;
}
.div-wrapper__div-content__article3__header{
	text-align: center;
	font-weight: bold;
	margin-top: 19px;    
    font-size: 14pt;
}
.div-wrapper__div-content__article3__text{
	text-align: center;
    margin-top: 15px;	
}
.div-wrapper__footer{
	background-color: #16a085;
	clear: both;	
}
.div-wrapper__footer__header{
	color: white;
	font-weight: bold;
	padding-top: 55px;
    padding-left: 44%;
    padding-right: auto;
    font-size: 24pt;	
}
.div-wrapper__footer__form{
	margin-top: 44px;
    margin-left: 27.4%;
}
.div-wrapper__footer__form__input-name{
    font-size: 14.5pt;
    padding-left: 7pt;
    width: 600px;
    height: 32px;
}
.div-wrapper__footer__form__input-email{
    font-size: 14.5pt;
    padding-left: 7pt;
    width: 600px;
    height: 32px;
    margin-top: 10px;
}
.div-wrapper__footer__form__input-phone{
    font-size: 14.5pt;
    padding-left: 7pt;
    width: 600px;
    height: 32px;
    margin-top: 10px;
}
.div-wrapper__footer__form__input-textarea{
	margin-top: 10px;
	width: 600px;
	font-size: 14.5pt;
	padding-left: 7pt;
	height: 121px;
}
.div-wrapper__footer__form__input-submit{
	   margin-left: 176px;
    margin-top: 56px;
	background-color:#16a085;
	width: 248px;
    border: 2.4px solid white;
    color: white;    
    height: 52px;
    border-radius: 5px;
    font-size: 18pt;
    margin-bottom: 60px;  
}