body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.wrapper{	
	padding: 0;
	margin: 0;
}

header{
	background-color: white;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.header__logo{
	font-weight: bold;
	margin-left: 5%;
}

.header__logo__a{
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
	margin-top: 10%;
}

.header__logo__font{
	padding-left: 10%;
	font-size: 70px;
	color: black;
}

.header__logo--green-font{
	color: #1abc9c;
	font-size: 70px;
	margin-left: 20px;
}

.header__navigation{
	margin-top: 20px;
	margin-right: 50px;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%;
}

.header__a{
	text-decoration: none;
	color: black;	
}

.content{
	background-color: #1abc9c;
	padding-bottom: 105px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.content__image{
	padding-top: 105px;
}

img {
	width: 100%;
	height: 100%;
}
.content__text{
	color: white;
	width: 50%;
	padding-right: 5%;
}

.content__text__header{
	padding-top: 105px;
	font-size: 35px;
	font-weight: bold;
}

.content__text__article{
	padding-top: 25px;
	line-height: 1.5;
	font-size: 20px;
}

.content__text__btn{
	padding-top: 40px;
}

.content__text__buy-btn{
	width: 210px;
	border: 2px solid white;
	color: white;
	background-color: #1abc9c;
	height: 75px;
	border-radius: 5px;
	font-size: 25px;
	cursor: pointer;
}

.content__articles{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.content__article{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	;

}

.content__article1__ico__font{
	padding-top: 25px;
	padding-left: 15px;
}

.content__article__header{
	text-align: center;
	font-weight: bold;
	margin-top: 25px;
	font-size: 20px;
}

.content__article__text{
	text-align: center;
	margin-top: 25px;
	font-size: 15px;
	line-height: 1.5;
	padding-bottom: 30px;
}

.content__article__ico{
	background-color: #1abc9c;
	height: 125px;
	width: 125px;
	border-radius: 50%;
	margin-left: calc((100% - 125px)/2);
	color: white;	
	font-size: 4em;
}

.ico{
	padding-top: 25px;
	padding-left: 20px;
}

footer{
	background-color: #16a085;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.footer__header{
	color: white;
	font-weight: bold;
	padding-top: 90px;
	font-size: 35px;
}

.footer__form{
	margin-top: 75px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	width: 75%;
}

.footer__form__input-name{
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
}

.footer__form__input-email{
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
	margin-top: 15px;
}

.footer__form__input-phone{
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
	margin-top: 15px;
}

.footer__form__input-textarea{
    margin-top: 15px;
    font-size: 20px;
    padding-left: 15px;
    height: 170px;
    padding-top: 4px;
}

.footer__form__input-pas{
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
	margin-top: 15px;
}

.footer__form__input-page{
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
	margin-top: 15px;
}

.footer__form__input-search{
	font-size: 20px;
	padding-left: 15px;
	height: 50px;
	margin-top: 15px;
}

.footer__form__interspace{
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.footer__form__text-questions{
	color: white;
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
	width: 40%;
}

.footer__form__input-range{
	margin-left: 10px;
	width: 100%;
}

.footer__form__text-bdaytime{
	color: white;
	font-size: 20px;
	padding-left: 15px;
	width: 40%;
}

.footer__form__input-bdaytime{
	width: 100%;
	text-align: right;
	height: 45px;
	font-size: 20px;
}

.footer__form__text-quality{
	color: white;
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
	width: 40%;
}

.footer__form__input-quality{
	width: 100%;
	text-align: right;
	height: 45px;
	font-size: 20px;
}

.footer__form__text-week{
	color: white;
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
	width: 40%;
}

.footer__form__input-week{
	width: 100%;
	text-align: right;
	height: 45px;
	font-size: 20px;
}

.footer__form__text-time{
	color: white;
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
	width: 40%;
}

.footer__form__input-time{
	width: 100%;
	text-align: right;
	height: 45px;
	font-size: 20px;
}

.footer__form__text-quantity{
	color: white;
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
	width: 40%;
}

.footer__form__input-quantity{
	width: 100%;
	text-align: right;
	height: 45px;
	font-size: 20px;

}

.footer__form__interspace2{
	margin-top: 25px;
	padding-left: 15px;

}

.footer__form__input-checkbox__text{
	color: white;
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
}

.footer__form__input-radio__text{
	color: white;
	font-size: 20px;
	padding-left: 15px;
	height: 45px;
}

.footer__form__buttons{
	margin-top: 80px;
	padding-bottom: 90px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footer__form__input__btn{
	background-color: #16a085;
	width: 210px;
	border: 3px solid white;
	color: white;
	height: 75px;
	border-radius: 5px;
	font-size: 25px;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 20px;
}