.container{
	margin-top:50px;
}

.input{
	width: 400px;
	height: 45px;
	background-color: whitesmoke;
	border: rgba(0,0,230, 0.3) 1px solid; border-radius: 35px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 40px;
	padding-left: 10px;
}

.input__text{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;	
}

.panel{
	width: 400px;
	background-color: whitesmoke;
	border: rgba(0,0,230, 0.3);	
	border-radius: 35px;
	display: none;
}

.panel__list{
	font-size: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.list__option{
	height: 45px;
	width: 400px;
	cursor: pointer;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.option__img{
	height: 45px;
	width: 45px;
	margin: 0;
	padding: 0;
}