@font-face {
	font-family: 'blackjack';
	src: url('fonts/BLACKJAR.ttf') format('ttf');
}



.wrapper {

}

header {
	width: 100%;
	background: url("../img/iphone.png") no-repeat 22% 146% fixed,
				url("../img/blue-pattern.jpg");
				background-size: 355px 580px;
	height: 980px;
}
.header-container {
	width: 100%;
	margin: 0 auto;

}

.symbol {
	position: relative;
	display: inline-block;
	left: 13%;
	color: deepskyblue;
	text-align: center;
	vertical-align: middle;
	background-color: white;
	width: 150px;
	height: 150px;
	font-size: 5rem;
	font-family: 'Kaushan Script', cursive;
	border-bottom: deepskyblue solid 1px;
	border-right: deepskyblue solid 1px;
	box-shadow: 20px 20px rgba(1, 177, 234, 0.4);
}

.symbol_top{
	padding-top: 14px;
}

.header_content{
	position: relative;
	right: 13%;
	top: 50px;
	float: right;
	text-align: right;
}

.content_head {
	position: relative;
	top:150px;
	color: white;
	font-family: 'blackjack', cursive;
	font-size: 6rem;

}

.content_text{
	position: relative;
	top:225px;
	right: -10px;
	color: white;
	font-size: 3.5rem;
}

.content_button{
	position: relative;
	top:300px;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	background-color: deepskyblue;
	cursor: pointer;
	width: 260px;
	height: 85px;
	right: -5px;
	font-size: 1.5rem;
}

.fa-bars{
	color: white;
}

.article2 {
	font-family: 'kaushan';
}