@font-face {
	font-family: 'blackjack';
	src: url('fonts/BLACKJAR.ttf') format('ttf');
}



.wrapper {

}

header {
	width: 100%;
	background: url("../img/iphone.png") no-repeat 22% 174%,
				url("../img/blue-pattern.jpg");
	height: 770px;
}
.header-container {
	width: 100%;
	margin: 0 auto;

}

.symbol {
	position: relative;
	top: 10%;
	left: 13%;
	color: deepskyblue;
	text-align: center;
	vertical-align: middle;
	background-color: white;
	width: 100px;
	height: 100px;
	font-size: 3rem;
	font-family: 'Kaushan Script', cursive;
	border-bottom: deepskyblue solid 1px;
	border-right: deepskyblue solid 1px;
	box-shadow: 20px 20px rgba(1, 177, 234, 0.4);
}

.symbol_top{
	padding-top: 14px;
}

.header_content{
	float: right;
	text-align: right;
}

.content_head {
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 4rem;
}

.content_text{
	color: white;
}

.content_button{
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	background-color: deepskyblue;
	cursor: pointer;
	width: 150px;
}

.fa-bars{
	color: white;
}

.article2 {
	font-family: 'kaushan';
}