@font-face {
	font-family: 'blackjack';
	src: url('fonts/BLACKJAR.ttf') format('ttf');
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {

}

header {
	width: 100%;
	background: url("../img/iphone.png") no-repeat 30% 100%,
					url("../img/blue-pattern.jpg");
	height: 1040px;
	min-height: 1040px;
}
.header-container {
	width: 1394px;
	margin: 0 auto;

}

.symbol {
	top: 0px;
	left: 0px;
	color: deepskyblue;
	text-align: center;
	vertical-align: middle;
	background-color: white;
	width: 160px;
	height: 160px;
	font-size: 5rem;
	font-family: 'Kaushan Script', cursive;
	border-bottom: deepskyblue solid 1px;
	border-right: deepskyblue solid 1px;
	box-shadow: 20px 20px rgba(1, 177, 234, 0.4);
}

.symbol_top{
	padding-top: 19px;
}

.header_content{
	float: right;
	text-align: right;
}

.content_head {
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 4rem;
}

.content_text{
	color: white;
}

.content_button{
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	background-color: deepskyblue;
	cursor: pointer;
	width: 150px;
}

.fa-bars{
	color: white;
}

.article2 {
	font-family: 'kaushan';
}