body {
	margin: 0;
	padding: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	min-width: 500px;
}

.image-wrapper {
	height: 450px;
	background: url(../img/indian-commuter-train.jpg) no-repeat;
	width: 500px;
}

.header {
	text-align: center;
}

.placeddiv {	
	height: 20px;
	background-color: white;
	border-radius: 15px;
	position: absolute;
}